# pandas

numpy能够帮助我们处理数值，但是pandas除了处理数据之外（基于numpy），还能帮助我们除了其他类型的数据

pandas常用数据类型
* Series 一维，带标签数组
* DataFrame 二维，Series容器

In [3]:
import pandas as pd

In [17]:
t = pd.Series([1, 2, 31, 12, 3, 4])
t

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [16]:
type(t)

pandas.core.series.Series

In [15]:
# 创建Series并指定索引，注意索引和数据长度相同
t2 = pd.Series([1, 23, 3, 2, 1], index=list("abcde"))
t2

a     1
b    23
c     3
d     2
e     1
dtype: int64

In [19]:
# 借助字典创建Series, key ---> 索引，value ---> 值
dic = {'name':'zhangsan', 'age':20, 'tel':'10086'}
t3 = pd.Series(dic)
t3

name    zhangsan
age           20
tel        10086
dtype: object

In [22]:
# 字典推导式创建字典
import string
a = {string.ascii_uppercase[i]:i for i in range(10)}
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [24]:
pd.Series(a)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [27]:
# 重新给其指定其他索引
pd.Series(a, index=list(string.ascii_uppercase[5:15]))

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

注意：索引没有值则为NaN，numpy中的NaN为float，pandas会自动根据数据类型更改Series的数据类型

In [33]:
# 修改数据类型
t2.astype('float')

a     1.0
b    23.0
c     3.0
d     2.0
e     1.0
dtype: float64

## Series 切片 索引

In [36]:
# 借助标签
t3['age']

20

In [38]:
# 借助绝对位置
t3[1]

20

In [39]:
# 取连续多行
t3[:3]

name    zhangsan
age           20
tel        10086
dtype: object

In [41]:
# 取不连续的行
t3[[0,2]]

name    zhangsan
tel        10086
dtype: object

In [44]:
t3[['name', 'tel']]

name    zhangsan
tel        10086
dtype: object

In [47]:
t = pd.Series(a)

In [48]:
# bool索引
t[t>4]

F    5
G    6
H    7
I    8
J    9
dtype: int64

## Series 属性

* index
* values

In [49]:
t.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [51]:
t.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

Sereis的vaules属性是ndarray，ndarray的很多方法都可以运用于series类型，比如argmax、clip，但是Series的where方法和ndarray结果不同